[submodule "KASDLab01"]
 path = KASDLab01
 url = https://github.com/annakhit/KASDLab01

[submodule "KASDLab02"]
 path = KASDLab02
 url = https://github.com/annakhit/KASDLab02

[submodule "KASDLab03"]
 path = KASDLab03
 url = https://github.com/annakhit/KASDLab03

[submodule "KASDLab04"]
 path = KASDLab04
 url = https://github.com/annakhit/KASDLab04

[submodule "KASDLab05"]
 path = KASDLab05
 url = https://github.com/annakhit/KASDLab05

[submodule "KASDLab06"]
 path = KASDLab06
 url = https://github.com/annakhit/KASDLab06

[submodule "KASDLab07"]
 path = KASDLab07
 url = https://github.com/annakhit/KASDLab07

[submodule "KASDLab08"]
 path = KASDLab08
 url = https://github.com/annakhit/KASDLab08

[submodule "KASDLab09"]
 path = KASDLab09
 url = https://github.com/annakhit/KASDLab09

[submodule "KASDLab10"]
 path = KASDLab10
 url = https://github.com/annakhit/KASDLab10

[submodule "KASDLab11"]
 path = KASDLab11
 url = https://github.com/annakhit/KASDLab11

[submodule "KASDLab12"]
 path = KASDLab12
 url = https://github.com/annakhit/KASDLab12

[submodule "KASDLab13"]
 path = KASDLab13
 url = https://github.com/annakhit/KASDLab13

[submodule "KASDLab14"]
 path = KASDLab14
 url = https://github.com/annakhit/KASDLab14

[submodule "KASDLab15"]
 path = KASDLab15
 url = https://github.com/annakhit/KASDLab15

[submodule "KASDLab16"]
 path = KASDLab16
 url = https://github.com/annakhit/KASDLab16

[submodule "KASDLab17"]
 path = KASDLab16
 url = https://github.com/annakhit/KASDLab17