[submodule "KASDLab01"]
 path = KASDLab01
 url = https://github.com/annakhit/KASDLab01

[submodule "KASDLab02"]
 path = KASDLab02
 url = https://github.com/annakhit/KASDLab02

[submodule "KASDLab03"]
 path = KASDLab03
 url = https://github.com/annakhit/KASDLab03

[submodule "KASDLab04"]
 path = KASDLab04
 url = https://github.com/annakhit/KASDLab04

[submodule "KASDLab05"]
 path = KASDLab05
 url = https://github.com/annakhit/KASDLab05

[submodule "KASDLab06"]
 path = KASDLab06
 url = https://github.com/annakhit/KASDLab06

[submodule "KASDLab07"]
 path = KASDLab07
 url = https://github.com/annakhit/KASDLab07

[submodule "KASDLab08"]
 path = KASDLab08
 url = https://github.com/annakhit/KASDLab08